#phuong-showsp{
	float: left;
}
.phuong-sp{
	float: left;
	width: 230px;
	height: 270px;
	margin-left: 20px;
}
.phuong-name{
	font-weight: bold;
	font-size: 16px;
	color: #db70b8;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.phuong-price{
	float: right;
	font-weight: bold;
	font-size: 16px;
	color: #5cd65c;
	margin-top: 15px;
}

#phuong-number {
	margin-top: 30px;
	border: 1px solid #d8d8c0;

	border-collapse: collapse;
}
#phuong-number td{
	border: 1px solid #d8d8c0;

	border-collapse: collapse;
}
#phuong-number td{
	padding: 10px;
}